html,
body {
  background-color: #211717;
  font-family: "Josefin Sans", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #dfddc7;
  font-size: 16px;
  font-weight: 400;
  padding: 2rem 1.5rem 1rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}

@media only screen and (max-width: 760px) {
  body {
    width: 100%;
  }
}

h1 {
  font-family: "Butcherman", sans-serif;
  font-size: 4.25rem;
  line-height: 1.5;
  margin: 0 0 1rem;
}

@media only screen and (max-width: 760px) {
  h1 {
    font-size: 3.25rem;
  }
}

h2 {
  font-size: 2.75rem;
  margin: 0 0 1rem;
}

@media only screen and (max-width: 760px) {
  h2 {
    font-size: 1.75rem;
  }
}

p {
  font-size: 2rem;
  margin: 0 0 1rem;
}

@media only screen and (max-width: 760px) {
  p {
    font-size: 1.5rem;
  }
}

* {
  box-sizing: border-box;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: calc(100vh - 3rem);
}

a {
  color: #f58b54;
}

button {
  background-color: #f58b54;
  border: 3px solid #a34a28;
  color: #211717;
  padding: 1rem 1.25rem;
  border-radius: 3px;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  form {
    padding-bottom: 2rem;
  }
}

form,
label {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

label {
  text-align: left;
  width: 100%;
  margin-bottom: 1.25rem;
}

label,
button {
  font-size: 1.5rem;
}

input {
  padding: 0.5rem;
  width: 100%;
}

footer {
  text-align: right;
}

/* GHOST */

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.ghost {
  animation: float 3s ease-out infinite;
}

@keyframes float {
  50% {
    transform: translate(0, 20px);
  }
}

.shadowFrame {
  width: 130px;
  margin-top: 15px;
  margin-left: -10px;
}

.shadow {
  animation: shrink 3s ease-out infinite;
  transform-origin: center center;
}

.shadow ellipse {
  transform-origin: center center;
}

@keyframes shrink {
  0% {
    width: 90%;
    margin: 0 5%;
  }
  50% {
    width: 60%;
    margin: 0 18%;
  }
  100% {
    width: 90%;
    margin: 0 5%;
  }
}
